:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin:0;
  padding:0;
}

nav {
  background-color: #2d65a7;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 20% 10px 20%;
  position: sticky;
  top:0;
}

nav > div {
  text-align: center;
  align-items: center;
  padding-top: auto;
  padding-bottom: auto;
}

nav > section {
  align-items: right;
  text-align: right;
  padding-top: auto;
  padding-bottom: auto;
}

nav > a {
  padding-top: auto;
  padding-bottom: auto;
}

.areset {
  text-decoration: inherit;
  color:inherit;
}

.areset:hover {
  cursor:pointer
}

.navButton {
  border-style: solid;
  border-width:1px;
  border-radius:5px;
  background-color: transparent;
  color:white;
  border-color:white;
  margin-top:1.4%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:3px 5px 3px 5px;
  font-size:15px
}

.navButton:active {
  background-color: #2d65a7;
  color:white;
}

.navImg {
  padding-top: 1%;
}



.frontBackground {
  background-image: url("/IMG_3591.png");
  height:1000px;
  padding: 2% 20% 2% 20%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin:0;
}

.fontThin {
  font-weight: 300;
}

.ah1 {
  font-size:4em
}

.ah2 {
  font-size: 2.75em;
  font-weight:300;
  margin-bottom: 10px;
  line-height: .99;
}

.sub {
  font-size:1.5em
}

.content {
  padding: 2% 20% 2% 20%;
}

.smallH {
  font-size:1.2em;
  font-weight: 800;
}

.content2 {
  background-color: rgb(231, 231, 231);
  padding: 3.5% 20% 3.5% 20%;}

  .benefitsParent > div {
    padding:2% 0 2% 0;
  }


  @media (max-width: 1250px) {
    .content {
      padding:2%
    }
    .content2 {
      padding:3.5% 2% 3.5% 2%;
    }

    .frontBackground {
      padding:2%;
    }

    nav {
      padding: 10px 2% 10px 2%;
    }
  }